<div class="container">

  <h1>Stupid coatching</h1>

  <div class="ask">
    <h2><%= @question.capitalize %></h2>
    <p>-You</p>
  </div>

  <div class="answer">
    <h2><%= @answer.capitalize %></h2>
    <p>-Your coatch</p>
  </div>

  <div class="btn">
    <%= link_to "New question", ask_path %>
  </div>


</div>

